<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Aneesh Neelam <neelam.aneesh@gmail.com>"/>
    <title>Error | VITacademics</title>
    <link rel='stylesheet' href='/stylesheets/error.css'/>
</head>
<body>
<h1><%= message %></h1>

<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
</body>
</html>