append content
    hr
    .footer
        .container-fluid
            .row
                .col-xs-12.col-sm-offset-1.col-sm-10.col-md-offset-3.col-md-6.text-center
                    ul.nav.nav-justified
                        li
                            a(href='https://github.com/aneesh-neelam/VITacademics') Contribute
                        li
                            a(href='https://github.com/aneesh-neelam/VITacademics/issues') Bugs
                        li
                            a(href='https://github.com/aneesh-neelam/VITacademics/graphs/contributors') Contributors
            .row.text-center
                p.muted
                &copy CollegeCODE
