append content
  hr
  .footer
    .container-fluid
      .row
        .col-xs-12.col-sm-offset-1.col-sm-10.col-md-offset-4.col-md-4
          ul.nav.nav-justified
            li
              a(href='https://github.com/aneesh-neelam/VITacademics')
                img(src='/images/github.png', alt='GitHub', class='img-responsive')
            li
              a(href='https://www.facebook.com/academicsvit')
                img(src='/images/fb.png', alt='Facebook', class='img-responsive')
      .row.text-center
        p.muted
          &#169 CollegeCODE
