append content

    nav(class='navbar navbar-inverse navbar-static-top')
        div(class='container-fluid')
            div(class='navbar-header')
                button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#tool')
                    span(class='icon-bar')
                    span(class='icon-bar')
                    span(class='icon-bar')
                a(class='navbar-brand hidden-xs visible-sm visible-md visible-lg', href='/') VITacademics
            div(class='collapse navbar-collapse', id='tool')
                ul(class='nav navbar-nav navbar-right')
                    li
                        a(href='/api/txtweb') SMS Documentation
                    li
                        a(href='/api') API Documentation
