<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Aneesh Neelam <neelam.aneesh@gmail.com>"/>
    <title>VITacademics</title>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
</head>
<body>
<h1>VITacademics</h1>
<br>

<p>
    This is curently a work in progress.
    <br>
    Contact the author for more information.
    Or fork this <a href=<%= repository %>>project</a> on Github.
</p>
</body>
</html>
